html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")
    title= title
  body(style="background-color: #56cc7d")
    include navbar.pug
    main
      div.container
        form(action='/submit-form', method='POST')
          div.row(style='display: flex; justify-content: space-between;')
            div.row#left
              div.col#choice
                input(class="form-control" type='text', name='amount', id='amount', placeholder="Enter the amount")
              div.col#choice
                select(class="custom-select" name='energyType', id='energyType' style='width: 150px;')
                  option(value='KWh') kWh
                  option(value='Joules') Joules
                  option(value='Barrels of Oil') Barrels of Oil
                  option(value='Calories') Calories
                  option(value='Kg of Uranium') Kg of Uranium 
                  option(value='Kg of Coal') Kg of Coal 
                  option(value='Kg of Firewood') Kg of firewood
            div.col(style='display: flex; justify-content: center; align-items: center;')
              p Convert to:
            div.row#right
              div.col#choice
                select(class="custom-select" name='energyTypeReq', id='energyTypeReq' style='width: 150px;')
                  option(value='KWh') kWh
                  option(value='Joules') Joules
                  option(value='Barrels of Oil') Barrels of Oil
                  option(value='Calories') Calories
                  option(value='Kg of Uranium') Kg of Uranium 
                  option(value='Kg of Coal') Kg of Coal 
                  option(value='Kg of Firewood') Kg of firewood
              div.col#choice
                button#button(class="btn btn-info mt-2 mb-2" type='submit') Convert
          
            


      // CSS
      style.
        .container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 40vh;
        }

        form {
          width: 100%;
        }

        #left {
          background-color: green;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 25px;
          border: 2px solid #73AD21;
          width: 500px;
        }

        #right {
          background-color: green;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 25px;
          border: 2px solid #73AD21;
          width: 500px;
        }

        #choice {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        #button {
          width: 150px;
        }
